.navbar2 {
  background: #272727;
  color: #fff !important;
}
.navbar2 a {
  color: #fff !important;
  text-decoration: none;
}
.navbar2 a:hover{
  color: #fff !important;
}
.navbar2 button {
  background: #004437;
  border: 0;
  color: #fff;
}
.navbar2 button:hover {
  background: #003326;
}
.navbar2 .dropdown-menu{
  background: #272727;
}
.dropdown-item:focus, .dropdown-item:hover{
  background: #004437;
}